.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.screen{
  display: flex;
  flex-wrap: wrap;
}

.movie-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-block h1 {
  /* background-color: purple; */
  color: whitesmoke;
  text-shadow:
    3px 3px 2px #392F5A,
    -3px 3px 2px #392F5A,
    -3px -3px 0 #392F5A,
    3px -3px 0 #392F5A;
    /* -webkit-text-stroke: 1.5px #392F5A; */
  text-decoration: underline;
  text-decoration-color: #392F5A;
  text-decoration-thickness: 0.25rem;

}

.movie-block h2 {
  text-decoration: underline;
  text-decoration-color: #6FD08C;
  text-decoration-thickness: 0.25rem;
}